@{
    Layout = "HomeLayout";
}

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5">Payment Succeed, you are subscribe now ✔</h1>
                <div class="row g-3">
                    <div class="col-4">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-dark py-3 px-5 d-lg-block">Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
